*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.shp
*.sbx
*.sbn
*.dbf
*.prj
*.shp.xml
*.shx
*.png
*.jpg
*.svg
*.pdf
*.html
*.zip
sim_survey_paper.docx
rebuttal_letter.docx
cover_letter.docx
.Rproj.user
sim_survey_paper_cache/
sim_survey_paper_files/
sim_survey_presentation_files/
cod_sim_exports/
analysis/paper/drafting
!docs/**

## temp file from word
~$*
inst/doc
